grill-api/src/main/resources/schedule-0.1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="unqualified" elementFormDefault="qualified"
    targetNamespace="uri:grill:schedule:0.1" xmlns="uri:grill:schedule:0.1"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
    <xs:annotation>
        <xs:appinfo>
            <jaxb:schemaBindings>
                <jaxb:package name="com.inmobi.grill.api.schedule" />
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="x_schedule" type="x_schedule">
    </xs:element>
    <xs:complexType name="x_schedule">
        <xs:annotation>
            <xs:documentation>
                XSchedule can be a base schedule for which
                user would give the full
                specification of the schedule
                info.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="x_execution" name="execution" />
            <xs:element type="x_start_spec" name="start_spec" />
            <xs:element type="xs:string" name="resource_path"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element type="map_type" name="schedule_conf" />
            <xs:element type="xs:time" name="start_time" />
            <xs:element type="xs:time" name="end_time" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="x_execution">
        <xs:annotation>
            <xs:documentation>
                x_schedule_task defines the task which has
                to be scheduled. Choice can be Query/etc.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="query" type="x_schedule_query" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="x_schedule_query">
        <xs:annotation>
            <xs:documentation>
                Query task details
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="query" type="xs:string" />
            <xs:element name="query_conf" type="map_type"
                minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="session_db" type="xs:string" />
            <xs:element name="session_conf" type="map_type" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="x_start_spec">
        <xs:annotation>
            <xs:documentation>
                x_start_spec which defines the dependency
                of the schedule,
                add a schedule_id in case of dependency
                with
                another schedule or frequency_type if its
                independent
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="frequency" type="x_frequency" />
            <xs:element name="id" type="xs:string" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="map_type">
        <xs:sequence>
            <xs:element name="key" type="xs:string" />
            <xs:element name="value" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="x_frequency">
        <xs:annotation>
            <xs:documentation>
                x_frequncy_type, which defines the
                frequency of schedule, may be daily, weekly, monthly or
                cron_expression
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="frequncy_enum" type="x_frequency_type" />
            <xs:element name="cron_expression" type="x_cron_expression" />
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="x_frequency_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAILY" />
            <xs:enumeration value="WEEKLY" />
            <xs:enumeration value="MONTHLY" />
            <xs:enumeration value="QUARTERLY" />
            <xs:enumeration value="YEARLY" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="x_cron_expression">
        <xs:annotation>
            <xs:documentation>
                Cron expression (see JavaDoc for examples)
                Special thanks to Chris
                Thatcher (thatcher@butterfly.net)
                for the regular
                expression! Regular expressions are not
                my strong point
                but I believe this is complete, with the
                caveat that
                order for expressions like 3-0 is not legal
                but will
                pass, and month and day names must be
                capitalized. If
                you want to examine the correctness look
                for the [\s] to
                denote the seperation of individual
                regular expressions.
                This is how I break them up visually
                to examine them:
                SECONDS: (
                ((([0-9]|[0-5][0-9])(-([0-9]|[0-5][0-9]))?,)*([0-9]|[0-5][0-9])(-([0-9]|[0-5][0-9]))?)
                | (([\*]|[0-9]|[0-5][0-9])/([0-9]|[0-5][0-9])) | ([\?])
                | ([\*]) ) [\s] MINUTES: (
                ((([0-9]|[0-5][0-9])(-([0-9]|[0-5][0-9]))?,)*([0-9]|[0-5][0-9])(-([0-9]|[0-5][0-9]))?)
                | (([\*]|[0-9]|[0-5][0-9])/([0-9]|[0-5][0-9])) | ([\?])
                | ([\*]) ) [\s] HOURS: (
                ((([0-9]|[0-1][0-9]|[2][0-3])(-([0-9]|[0-1][0-9]|[2][0-3]))?,)*([0-9]|[0-1][0-9]|[2][0-3])(-([0-9]|[0-1][0-9]|[2][0-3]))?)
                |
                (([\*]|[0-9]|[0-1][0-9]|[2][0-3])/([0-9]|[0-1][0-9]|[2][0-3]))
                | ([\?]) | ([\*]) ) [\s] DAY OF MONTH: (
                ((([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1])(-([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1]))?,)*([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1])(-([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1]))?(C)?)
                |
                (([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1])/([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1])(C)?)
                | (L(-[0-9])?) | (L(-[1-2][0-9])?) | (L(-[3][0-1])?) |
                (LW) | ([1-9]W) | ([1-3][0-9]W) | ([\?]) | ([\*]) )[\s]
                MONTH: (
                ((([1-9]|0[1-9]|1[0-2])(-([1-9]|0[1-9]|1[0-2]))?,)*([1-9]|0[1-9]|1[0-2])(-([1-9]|0[1-9]|1[0-2]))?)
                | (([1-9]|0[1-9]|1[0-2])/([1-9]|0[1-9]|1[0-2])) |
                (((JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)(-(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC))?,)*(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)(-(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC))?)
                |
                ((JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)/(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC))
                | ([\?]) | ([\*]) )[\s] DAY OF WEEK: (
                (([1-7](-([1-7]))?,)*([1-7])(-([1-7]))?) |
                ([1-7]/([1-7])) |
                (((MON|TUE|WED|THU|FRI|SAT|SUN)(-(MON|TUE|WED|THU|FRI|SAT|SUN))?,)*(MON|TUE|WED|THU|FRI|SAT|SUN)(-(MON|TUE|WED|THU|FRI|SAT|SUN))?(C)?)
                |
                ((MON|TUE|WED|THU|FRI|SAT|SUN)/(MON|TUE|WED|THU|FRI|SAT|SUN)(C)?)
                | (([1-7]|(MON|TUE|WED|THU|FRI|SAT|SUN))(L|LW)?) |
                (([1-7]|MON|TUE|WED|THU|FRI|SAT|SUN)#([1-7])?) | ([\?])
                | ([\*]) ) YEAR (OPTIONAL): ( [\s]? ([\*])? |
                ((19[7-9][0-9])|(20[0-9][0-9]))? |
                (((19[7-9][0-9])|(20[0-9][0-9]))/((19[7-9][0-9])|(20[0-9][0-9])))?
                |
                ((((19[7-9][0-9])|(20[0-9][0-9]))(-((19[7-9][0-9])|(20[0-9][0-9])))?,)*((19[7-9][0-9])|(20[0-9][0-9]))(-((19[7-9][0-9])|(20[0-9][0-9])))?)?
                )
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern
                value="(((([0-9]|[0-5][0-9])(-([0-9]|[0-5][0-9]))?,)*([0-9]|[0-5][0-9])(-([0-9]|[0-5][0-9]))?)|(([\*]|[0-9]|[0-5][0-9])/([0-9]|[0-5][0-9]))|([\?])|([\*]))[\s](((([0-9]|[0-5][0-9])(-([0-9]|[0-5][0-9]))?,)*([0-9]|[0-5][0-9])(-([0-9]|[0-5][0-9]))?)|(([\*]|[0-9]|[0-5][0-9])/([0-9]|[0-5][0-9]))|([\?])|([\*]))[\s](((([0-9]|[0-1][0-9]|[2][0-3])(-([0-9]|[0-1][0-9]|[2][0-3]))?,)*([0-9]|[0-1][0-9]|[2][0-3])(-([0-9]|[0-1][0-9]|[2][0-3]))?)|(([\*]|[0-9]|[0-1][0-9]|[2][0-3])/([0-9]|[0-1][0-9]|[2][0-3]))|([\?])|([\*]))[\s](((([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1])(-([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1]))?,)*([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1])(-([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1]))?(C)?)|(([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1])/([1-9]|[0][1-9]|[1-2][0-9]|[3][0-1])(C)?)|(L(-[0-9])?)|(L(-[1-2][0-9])?)|(L(-[3][0-1])?)|(LW)|([1-9]W)|([1-3][0-9]W)|([\?])|([\*]))[\s](((([1-9]|0[1-9]|1[0-2])(-([1-9]|0[1-9]|1[0-2]))?,)*([1-9]|0[1-9]|1[0-2])(-([1-9]|0[1-9]|1[0-2]))?)|(([1-9]|0[1-9]|1[0-2])/([1-9]|0[1-9]|1[0-2]))|(((JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)(-(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC))?,)*(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)(-(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC))?)|((JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)/(JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC))|([\?])|([\*]))[\s]((([1-7](-([1-7]))?,)*([1-7])(-([1-7]))?)|([1-7]/([1-7]))|(((MON|TUE|WED|THU|FRI|SAT|SUN)(-(MON|TUE|WED|THU|FRI|SAT|SUN))?,)*(MON|TUE|WED|THU|FRI|SAT|SUN)(-(MON|TUE|WED|THU|FRI|SAT|SUN))?(C)?)|((MON|TUE|WED|THU|FRI|SAT|SUN)/(MON|TUE|WED|THU|FRI|SAT|SUN)(C)?)|(([1-7]|(MON|TUE|WED|THU|FRI|SAT|SUN))?(L|LW)?)|(([1-7]|MON|TUE|WED|THU|FRI|SAT|SUN)#([1-7])?)|([\?])|([\*]))([\s]?(([\*])?|(19[7-9][0-9])|(20[0-9][0-9]))?| (((19[7-9][0-9])|(20[0-9][0-9]))/((19[7-9][0-9])|(20[0-9][0-9])))?| ((((19[7-9][0-9])|(20[0-9][0-9]))(-((19[7-9][0-9])|(20[0-9][0-9])))?,)*((19[7-9][0-9])|(20[0-9][0-9]))(-((19[7-9][0-9])|(20[0-9][0-9])))?)?)" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>